<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Main navigation">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Thunder</a>
      <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Geral</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Demandas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Minhas tarefas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Tarefas da equipe</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" target="_blank" href="https://drive.google.com/drive/folders/1Goq7jr-prNd5wdMBw9uKvAYrDTJogzr6">Drive Campanhas</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Avaçado</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" target="_blank" href="{% url 'admin:index' %}">Admin</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

  <div class="nav-scroller bg-body shadow-sm">
    <nav class="nav" aria-label="Secondary navigation">
      <a class="nav-link active" aria-current="page" href="#">Em andamento</a>
      <a class="nav-link" href="#">
        Campanhas
        <span class="badge text-bg-light rounded-pill align-text-bottom">27</span>
      </a>
      <a class="nav-link" href="#">
        Design Gráfico
        <span class="badge text-bg-light rounded-pill align-text-bottom">27</span>
      </a>
      <a class="nav-link" href="#">Tarefas</a>
      <a class="nav-link" href="#">Suggestions</a>
      <a class="nav-link" href="#">Link</a>
      <a class="nav-link" href="#">Link</a>
      <a class="nav-link" href="#">Link</a>
      <a class="nav-link" href="#">Link</a>
      <a class="nav-link" href="#">Link</a>
    </nav>
  </div>