{% extends 'thunder_core/base.html' %}


{% block content %}

<div class="my-3 p-3 bg-body rounded shadow-sm">
    <h6 class="border-bottom pb-2 mb-0">Demandas</h6>
    {% for communication in communication_demand_list %}
    <div class="row">
        <div class="d-flex text-body-secondary pt-3">
     
     
        
        <div class="pb-3 mb-0 small lh-sm border-bottom">
                <strong class=" text-gray-dark">
                    <a class="text-gray-dark" href="{% url 'communication_details' communication.id %}">
                    {{ communication.name }}</a>
                
                </strong>  
                    <span class="badge " style="background-color: {{ communication.type.color }};">
                        {{ communication.type }}</span> 
                        
                        <span class="badge " style="background-color: {{ communication.type.color }};">
                            {{ communication.status }}</span>
                        <br><br>
                        
                <div class="btn-group " role="group" aria-label="Basic outlined example">
                    <button type="button" class="btn btn-outline-primary">Marcos ({{ communication.taskgroup_set.count}}) </button>
                    <button type="button" class="btn btn-outline-primary">Tarefas ({{ communication.taskgroup_set.count}})</button>
                </div>
                <br>
                <br>
                <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar w-75"></div>
                  </div>
                  
                <table class="table table-bordered" style="margin-top: 10px;">
                    
                      <tbody>
                        <tr>
                          <td>Inicio das entregas</td>
                          <td><b>{{ communication.starts_in }} </b></td>
                          <td>Prazo final</td>
                          <td><b>{{ communication.final_deadline }} </b></td>
                        </tr>
                        <tr>
                            <td>Solicitante</td>
                            <td><b>{{ communication.requester_name }} </b></td>
                            <td>Cliente</td>
                            <td><b>{{ communication.client }} </b></td>
                          </tr>
                          <tr>
                            <td>Gerente(s)</td>
                            <td colspan="3">
                                {% for manager in communication.managers.all %}
                                <a href=""><b> @{{manager}} </b></a>&nbsp;&nbsp;
                                {% endfor %}
                            </td>
                          </tr>
                      </tbody>
                  </table>
            
            
               
        </div>
        </div>
    </div>
    {% endfor %}
    <small class="d-block text-end mt-3">
      <a href="#">All updates</a>
    </small>
  </div>
{% if communication_demand_list %}

 

{% else %}
    <p>Não existem campanhas.</p>
{% endif %}

{% endblock %}